# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  lint:
    name: RuboCop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install dependencies
        run: bundle install

      - name: Run RuboCop
        run: bundle exec rubocop
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - 'head'
          - truffleruby-head
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install dependencies
      run: bundle install

    - name: Run tests
      run: bundle exec rspec
  release:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    permissions:
      packages: write
      contents: read

    steps:
    - uses: actions/checkout@v2

    - name: Build and publish gem
      uses: jstastny/publish-gem-to-github@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        owner: dcunning

  tag:
    runs-on: ubuntu-latest
    needs:
    - release
    permissions:
      # isolated to only creating this new tag. Not any other steps in here.
      contents: write

    steps:
    - uses: actions/checkout@v2

    - name: Extract Version
      id: extract_version
      run: |
        VERSION=$(ruby -e "load './lib/baking_rack/version.rb'; puts BakingRack::VERSION")
        echo "::set-output name=VERSION::$VERSION"

    - name: Tag this release
      run: |
        TAG_NAME="v${{ steps.extract_version.outputs.VERSION }}"
        git tag $TAG_NAME
        git push origin $TAG_NAME
